#businessDashBoard {
    display: flex;
}

#businessDashBoard nav {
    width: 300px;
    background-color: red;
}

#businessDashBoard nav .menu .sub-menu {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}

#businessDashBoard #content {
    width: calc(100% - 300px);
}