#login>.heading {
    height: 70px;
}

#login>.heading .logo {
    color: #1b1b1b;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    line-height: 70px;
    margin-left: 30px;
}

#login .content {
    display: flex;
    margin: 0 50px;
    transition: all .5s ease;
}

#login .content .column {
    width: 50%;
    padding: 20px;
}

#login .content .column img {
    width: 100%;
    height: auto;
}

#login .content .column .heading {
    font-size: 30px;
    font-weight: bold;
}

#login .content .column form {
    display: flex;
    flex-direction: column;
}

#login .content .column form .mb-3:nth-child(1),
#login .content .column form .mb-3:nth-child(2) {
    display: flex;
    flex-direction: column;
    position: relative;
}

#login .content .column form .mb-3:nth-child(2) i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#login .content .column form input {
    border: none;
    border-bottom: 1px solid black;
}

#login .content .column form input:focus {
    outline: none;
}

#login .content .column form button {
    padding: 10px 0;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
}

#login .content .column form .others {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login .content .column form .others .forgot-password {
    font-weight: bold;
    text-decoration: underline;
}

#login .content .column form .sign-up a {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

#login .content .column form span {
    text-align: center;
    position: relative;
}

#login .content .column form span::before {
    position: absolute;
    content: "";
    width: 45%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
}

#login .content .column form span::after {
    position: absolute;
    content: "";
    width: 45%;
    height: 1px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
}

#login .content .column form .OAuth2 .google {
    padding: 10px 0;
    border-radius: 0;
    border: 1px solid black;
    width: 100%;
    font-weight: bold;
}

#login .content .column form .OAuth2 .google img {
    width: auto;
    height: 22px;
}

@media screen and (max-width:888px) {
    #login .content .column form span::before {
        width: 40%;
    }

    #login .content .column form span::after {
        width: 40%;
    }
}

@media screen and (max-width:888px) {
    #login .content {
        flex-direction: column;
    }

    #login .content .column {
        width: 100%;
    }

    #login .content .column form span::before {
        width: 45%;
    }

    #login .content .column form span::after {
        width: 45%;
    }
}