* {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', serif;
}

/*BANNER*/
#banner {
	margin: 0 auto;
	margin-top: 20px;
}

#banner .banner-left,
#banner .banner-right {
	min-height: 662px;
}

#banner .banner-left {
	background-image: url('/images/banner-left.jpg');
	background-size: cover;
	background-position: center;
}

#banner .banner-right .top {
	height: 30%;
	gap: 10px;
	background-image: url('/images/banner-right-1.jpg');
	background-size: cover;
	background-position: center;
}

#banner .banner-right .bottom {
	margin-top: 10px;
	height: calc(70% - 10px);
}

#banner .banner-right .bottom {
	background-image: url('/images/banner-right-2.jpg');
	background-size: cover;
	background-position: center;
}

@media screen and (max-width:767px) {
	#banner .banner-right {
		padding: 0;
		margin-top: 10px;
	}
}

/*SALE*/
#sale {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0px 24px;
	margin: 30px 0;
}

#sale .sale-1,
#sale .sale-2,
#sale .sale-3 {
	min-height: 40px;
	width: 30%;
}

#sale .sale-1 img,
#sale .sale-2 img,
#sale .sale-3 img {
	width: 100%;
	background-size: cover;
}

/*BEST SALER & LIST_PRODUCTS*/
#best-saler,
#list-products {
	margin-top: 80px;
	margin-bottom: 30px;
	text-align: center;
}

#list-products .heading,
#best-saler .heading {
	position: relative;
	font-size: 20px;
	width: 300px;
	margin: 0 auto;
}

#list-products .heading::before,
#best-saler .heading::before {
	position: absolute;
	content: "";
	width: 100px;
	height: 2px;
	background-color: black;
	right: -80px;
	top: 50%;
	transform: translateY(50%);
}

#list-products .heading::after,
#best-saler .heading::after {
	position: absolute;
	content: "";
	width: 100px;
	height: 2px;
	background-color: black;
	left: -80px;
	top: 50%;
	transform: translateY(50%);
}

@media screen and (max-width:991px) {

	#list-products,
	#best-saler {
		margin-top: 30px;
	}
}

#list-products .list-products,
#best-saler .best-saler-item {
	margin: 0 auto;
	padding: 20px 0;
}

#best-saler .best-saler-item .item.col-md-3.col-sm-6.col-12 {
	padding: 10px;
}

#list-products .list-products .item.col-md-3.col-sm-6.col-12 img,
#best-saler .best-saler-item .item.col-md-3.col-sm-6.col-12 img {
	width: 100%;
}

#best-saler .item,
#list-products .item {
	position: relative;
	padding: 0;
}

#best-saler .item .content,
#list-products .item .content {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: rgba(0, 0, 0, 1);
	opacity: 0;
	transition: all .5s ease-in-out;
}

#best-saler .item .content .menu,
#list-products .item .content .menu {
	position: absolute;
	top: 15px;
	left: 15px;
	display: flex;
	flex-direction: column;
	padding: 0;
}

#best-saler .item .content .sale,
#list-products .item .content .sale {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

#best-saler .item .content .sale i,
#list-products .item .content .sale i {
	font-size: 50px;
	color: red;
}

#best-saler .item .content .sale span,
#list-products .item .content .sale span {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: yellow;
	font-size: 17px;
}

#best-saler .item .content .title,
#list-products .item .content .title {
	position: absolute;
	top: 80%;
	left: 15px;
	padding: 0;
	transform: translateY(-50%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 30px);
}

#best-saler .item,
#list-products .item {
	cursor: pointer;
	color: white;
}

#best-saler .item img,
#list-products .item img {
	width: 100%;
	padding: 10px;
	transition: all .5s ease;
}

#best-saler .item:hover .content,
#list-products .item:hover .content {
	opacity: 1;
	background: rgba(0, 0, 0, .5);
}

#best-saler .item .content .price,
#list-products .item .content .price {
	position: absolute;
	top: 90%;
	display: flex;
	left: 15px;
	padding: 0;
	transform: translateY(-50%);
}

#best-saler .item .content .sold,
#list-products .item .content .sold {
	position: absolute;
	top: 90%;
	display: flex;
	right: 15px;
	padding: 0;
	transform: translateY(-50%);
}

#best-saler .item .content .price del,
#list-products .item .content .price del {
	margin-right: 10px;
}

#best-saler .item .content .menu li,
#list-products .item .content .menu li {
	list-style: none;
	margin-right: 5px;
}

#best-saler .item .content .menu li i,
#list-products .item .content .menu li i {
	font-size: 25px;
}

@media screen and (max-width:991px) {

	#best-saler .item .content .sold,
	#list-products .item .content .sold {
		opacity: 0;
	}
}

@media screen and (max-width:767px) {

	#best-saler .item .content .sold,
	#list-products .item .content .sold {
		opacity: 1;
	}
}

@media screen and (max-width:420px) {

	#best-saler .item .content .sold,
	#list-products .item .content .sold {
		opacity: 0;
	}
}

#list-products .pages {
	display: flex;
	justify-content: center;
}


#list-products .pages span:first-child,
#list-products .pages span:last-child {
	background-color: transparent !important;
}

#list-products .pages span {
	background-color: lightgrey;
	width: 50px !important;
	height: 40px !important;
	margin: 0 8px;
	display: grid;
	place-items: center;
	cursor: pointer;
}

#list-products .pages span:first-child i,
#list-products .pages span:last-child i {
	color: black;
	font-size: 35px;
}

#list-products .pages span,
#list-products .pages span i {
	font-size: 28px;
	color: white;
}

/*SLIDER*/
#slider {
	margin: 20px 0;
}

#carouselExampleControls {
	height: 400px;
	position: relative;
	margin: 0 auto;
}

#carouselExampleControls .carousel-inner {
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

#carouselExampleControls .carousel-item img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: 0 auto;
}

#carouselExampleControls .carousel-control-prev-icon,
.carousel-control-next-icon {
	padding: 10px 0;
	background-color: rgb(226, 226, 226);
}