* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
}

section{
width: 85%;
margin: auto;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
section .side-bar{
width: 25%;
background-color: #fff;
border-radius: 10px;
}
section .content{
width: 72%;
background-color: #fff;
border-radius: 10px;
}


.titile{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #e9eaf0;
}
.titile h4{
color: #172856;
text-transform: uppercase;
padding: 15px 20px;
}
.titile a{
margin-right: 20px;
color: #ffa741;
font-weight: bold;
}
.titile a:hover{
text-decoration: underline;
}

.all-items{
display: flex;
justify-content: space-between;
padding: 20px;
}
.all-items .item{
width: 22%;
}
.item .div-img{
border-bottom: 2px solid #e9eaf0;
}
.item .div-img img{
width: 100%;
}
.item .div-text h4{
margin: 15px 0 10px;
}
.item .div-text h4 a{
color: #172856;
}
.item .div-text p{
color: #999;
font-size: 14px;
margin-bottom: 15px;
}
.item .div-text .stars i{
color: #fcc83f;
}
.item .div-text .price{
margin-top: 10px;
display: flex;
justify-content: space-between;
}
.item .div-text .price span{
color: #e80030;
cursor: pointer;
font-weight: bold;
}
.item .div-text .price del{
text-decoration: line-through;
font-style: italic;
color: #999;
}


/* start hero */
.hero .side-bar{
overflow: hidden;
}
.hero .side-bar h4{
padding: 20px;
background-color: #ffa741;
color: #172856;
font-size: 18px;
}
.hero .side-bar i{
margin-right: 10px;
}
.hero .side-bar ul li{
padding: 17px 20px;
color: #172856;
border-bottom: 1px solid #e9eaf0;
cursor: pointer;
list-style: none; 
}
.hero .side-bar ul li:hover{
background-color: #fccb3f;
}
.hero .side-bar ul li a{
color: #172856;
}

.hero .content {
  background: linear-gradient(#0000007c, #0000007c), url('/public/images/banner_style.jpg');
  background-size: cover;
  position: relative;
}

.hero .content .div-text{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 100px;
}
.hero .content .div-text span{
color: #ffa741;
font-size: 22px;
font-weight: bold;
text-transform: uppercase;
}
.hero .content .div-text h1{
color: #fff;
font-size: 40px;
margin: 15px 0 ;
text-transform: uppercase;
}
.hero .content .div-text p{
color: #e9eaf0;
margin-bottom: 50px;
}

/* sec -2 */

.sec-2 .side-bar .item{
padding: 20px;
}
.sec-2 .side-bar .item .div-text h4{
margin-bottom: 18px;
}

/* sec-3 */
.sec-3{
align-items: flex-start;
}
.sec-3 .side-bar .boxs{
padding: 15px 20px;
}
.sec-3 .side-bar .boxs .box{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid #e9eaf0;
}
.sec-3 .side-bar .boxs .box img{
width: 100px;
}
.sec-3 .side-bar .boxs .box .div-text h4{
color: #172856;
}
.sec-3 .side-bar .boxs .box .div-text .stars{
margin: 15px 0 18px;
}
.sec-3 .side-bar .boxs .box .div-text .stars i{
color: #fcc83f;
}
.sec-3 .side-bar .boxs .box .div-text span{
color: #e80030;
font-weight: bold;
}


.sec-3 .content .bg-sec{
height: 250px;
background: linear-gradient(#0000007c, #0000007c), url('/public/images/banner-right-2.jpg');
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 10px;
margin-bottom: 20px;
}
.sec-3 .content .bg-sec .div-text h1{
color: #fff;
text-transform: uppercase;
margin: 15px 0;
font-size: 35px;
}
.sec-3 .content .bg-sec .div-text p{
color: #e9eaf0;
font-size: 18px;
margin-bottom: 40px;
}
.sec-3 .all-items{
background-color: #fff;
border-radius: 10px;
}
/*BANNER*/
/* Chỉnh kích thước của ảnh trong carousel */
.carousel-inner .carousel-item img {

  /* Điều chỉnh kích thước tùy ý ở đây */
  max-height: 250px;
  /* Điều chỉnh kích thước tùy ý ở đây */
  width: auto;
  height: auto;
}

/* Chỉnh style hover cho ảnh */
.carousel-inner .carousel-item img:hover {
  opacity: 0.6;
  transition: 0.4s;
  cursor: pointer;
}

/* Đảm bảo rằng banner có các lớp CSS tương ứng */
#banner {
  margin: auto;
  margin-top: 10px;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 100px 250px;
  grid-gap: 30px;
}

#banner .items {
  border-radius: 14px;
  overflow: hidden;
}

#banner .items:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

#banner .items:nth-child(2),
#banner .items:nth-child(3) {
  grid-row: 2/4;
}

#banner .items:nth-child(4),
#banner .items:nth-child(5) {
  grid-row: 1/3;
}

#banner .items:last-child {
  grid-column: 3/5;
}

@media (max-width: 768px) {
  /* Điều chỉnh bố cục cho màn hình nhỏ hơn hoặc bằng 768px ở đây */
  section {
    flex-direction: column;
  }

  section .side-bar,
  section .content {
    width: 100%;
  }

  /* Điều chỉnh các phần tử khác tùy theo yêu cầu của bạn */
}

@media (min-width: 769px) {
  /* Điều chỉnh bố cục cho màn hình lớn hơn 768px ở đây */
  section {
    flex-direction: row;
  }

  section .side-bar {
    width: 25%;
  }

  section .content {
    width: 72%;
  }

  /* Điều chỉnh các phần tử khác tùy theo yêu cầu của bạn */
}

/* Thiết lập breakpoints */
@media screen and (max-width: 768px) {
  .hero .content .div-text {
    left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .hero .side-bar {
    display: none; /* Ẩn side bar ở màn hình nhỏ hơn */
  }

  .hero .content .div-text {
    left: 10px;
  }
}
/* CSS cho màn hình lớn hơn 768px */
@media screen and (min-width: 768px) {
  .hero .content {
    background-size: cover;
  }
  .hero .content .div-text {
    left: 100px;
  }
  .hero .content .div-text span {
    font-size: 22px;
  }
  .hero .content .div-text h1 {
    font-size: 40px;
    margin: 15px 0;
  }
  .hero .content .div-text p {
    margin-bottom: 50px;
  }
}

/* CSS cho màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {
  .hero .content {
    margin-top: 200px;
    background-size: contain;
    margin-bottom: 200px;
  }
  .hero .content .div-text {
    left: 20px;
    text-align: center; /* Canh giữa nội dung */
  }
  .hero .content .div-text span {
    font-size: 18px;
  }
  .hero .content .div-text h1 {
    font-size: 30px;
    margin: 10px 0;
  }
  .hero .content .div-text p {
    margin-bottom: 30px;
  }

  .all-items {
    flex-direction: column; /* Các item sẽ xuống dòng khi không đủ không gian */
  }

  .all-items .item {
    width: 100%; /* Item sẽ chiếm toàn bộ chiều rộng */
    margin-bottom: 20px; /* Thêm khoảng cách dưới giữa các item */
  }

}

.hero {
	padding-bottom: 50px;
}

.hero.hero-normal {
	padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
	position: relative;
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

.hero__categories__all {
	background: rgb(48,83,73);
	position: relative;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
}

.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

/* .hero__categories__all:after {
	position: absolute;
	right: 18px;
	top: 9px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
} */

.hero__categories ul {
	border: 1px solid #ebebeb;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.hero__categories ul li {
	list-style: none;
}

.hero__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.image-container p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

/* Khuyến mãi */

.countdown-desc {
  color: hsl(0, 0%, 13%);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.countdown {
  display: flex;
  gap: 5px;
}
.countdown-content {

  background: hsl(0, 0%, 93%);
  border-radius: 10px;
  text-align: center;
}
.countdown { gap: 10px; }


.display-number {
  color: hsl(0, 0%, 13%);
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 500;
  min-width: 40px;
  margin-top: 10px;
}


