#content #account .edit-profile,
#content #account .content {
    box-shadow: 0 5px 10px lightgrey;
    padding: 20px;
    border-radius: 20px;
    max-height: 500px;
    overflow: auto;
    position: relative;
}

#content #account .edit-profile::-webkit-scrollbar,
#content #account .content::-webkit-scrollbar {
    width: 6px;
}

#content #account .edit-profile::-webkit-scrollbar-thumb,
#content #account .content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#content #account .edit-profile::-webkit-scrollbar-thumb:hover,
#content #account .content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#content #account .edit-profile::-webkit-scrollbar-track,
#content #account .content::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

#content #account .content .top-business .heading {
    font-weight: bold;
    margin-top: 30px;
}

#content #account .path {
    padding: 20px 0;
}

#content #account .content table tbody tr * {
    line-height: 150px;
}

#content #account .content table td {
    text-align: left;
}

#content #account .content table td ul {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#content #account .content table td ul li {
    list-style: none;
    padding: 0 3px;
    line-height: 20px !important;
}

#content #account .content table th:nth-child(1) {
    width: 5%;
}

#content #account .content table td:nth-child(3) {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content #account .content table td:nth-child(4) {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content #account .content table th:nth-child(2) {
    width: 150px;
}

#content #account .content table td:nth-child(5) {
    position: relative;
}

#content #account .content table td:nth-child(5),
#content #account .content table td:last-child {
    text-align: center;
}

#content #account .content table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#content #account .content table tbody .edit {
    color: blue;
}

#content #account .content table tbody .delete {
    color: red;
}

#content #account .content table tbody .edit,
#content #account .content table tbody .delete {
    font-size: 30px;
}

@media screen and (max-width:810px) {

    #content #account .content table td:nth-child(2),
    #content #account .content table th:nth-child(2) {
        display: none;
    }

}

@media screen and (max-width:640px) {

    #content #account .content table td:nth-child(5),
    #content #account .content table th:nth-child(5) {
        display: none;
    }

}

/*FORM SEARCH*/
#content #account .content .search {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#content #account .content .search i {
    font-size: 25px;
}

#content #account .content form.search-form {
    position: absolute;
    width: 100%;
    min-height: 70px;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

#content #account .content form.search-form.active {
    opacity: 1;
    visibility: visible;
}

#content #account .content form.search-form input[type="text"] {
    width: 100%;
    padding: 5px 5px 5px 20px;

    border: none;
}

#content #account .content form.search-form input[type="text"]:focus,
#content #account .content form.search-form input[type="text"]:active {
    border: none;
    outline: none;
}

#content #account .content form.search-form i {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.form-selected {
    text-align: center;
}

.selected-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#content #account .edit-profile .label-selected {
    width: 130px !important;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in;
}

#content #account .edit-profile .label-selected:hover {
    box-shadow: 0 0 5px grey;
}

#content #account .edit-profile .label-selected i {
    padding: 5px;
    border-radius: 5px;
    transition: all .5s ease-in;
}

#content #account .edit-profile .label-selected:hover i {
    background-color: rgb(218, 42, 150);
    color: white;
}