#adminDashBoard {
    display: flex;
    font-family: sans-serif;
}

#adminDashBoard nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 300px;
    height: 94%;
    margin-top: 2%;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    transition: all .5s ease;
    justify-content: space-between;
    padding: 12px;
    box-shadow: 0 0 10px grey;
    left: -100%;
}

#adminDashBoard nav::-webkit-scrollbar {
    width: 6px;
}

#adminDashBoard nav::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#adminDashBoard nav::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#adminDashBoard nav::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

#adminDashBoard nav .logo {
    position: relative;
    text-align: center;
    height: 150px;
}

#adminDashBoard nav .logo img {
    height: 100%;
}

#adminDashBoard nav .logo::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background-color: black;
    left: 5%;
    bottom: 10px;
}

#adminDashBoard nav .menu {
    padding: 0 30px;
}

#adminDashBoard nav .menu li {
    list-style-type: none;
}

#adminDashBoard nav .menu>.menu-item {
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

#adminDashBoard nav .menu>.menu-item label {
    cursor: pointer;
}

#adminDashBoard nav .menu>.menu-item i {
    padding: 8px;
    background-color: white;
    border-radius: 3px;
    margin-right: 5px;
    box-shadow: 0 3px 5px lightgrey;
    transition: all .5s ease;
    cursor: pointer;
}

#adminDashBoard nav .menu>.menu-item.active,
#adminDashBoard nav .menu>.menu-item:hover {
    background-color: white;
    box-shadow: 0px 5px 10px lightgrey;
}

#adminDashBoard nav .menu>.menu-item.active i,
#adminDashBoard nav .menu>.menu-item:hover i {
    background-color: rgb(218, 42, 150);
    color: white;
}

#adminDashBoard nav .account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminDashBoard nav .account .image {
    width: 80px;
    height: 80px;
}

#adminDashBoard nav .account .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#adminDashBoard nav.active {
    left: 20px;
    margin-top: 2%;
}

#adminDashBoard .bx-right-arrow,
#adminDashBoard .bx-left-arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
    background-color: white;
    display: grid;
    place-items: center;
    z-index: 9999;
    bottom: 30px;
    cursor: pointer;
    transition: all .5s ease;
}

#adminDashBoard .bx-right-arrow {
    left: -15px;
    animation: clickNav 5s infinite forwards;
}

@keyframes clickNav {
    0% {
        transform: scale(1.2);
        box-shadow: 0 0 10px red;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px grey;
    }
}

#adminDashBoard .bx-left-arrow {
    left: 275px;
}

/*CONTENT*/
#content {
    width: 100%;
    padding: 30px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}